@import 'variables';

// stylelint-disable-next-line selector-no-qualifying-type
ul.breadcrumb {
  display: inline-block;
  overflow: hidden;
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    display: inline-block;
    padding-left: 3px;
    float: left;

    a {
      display: inline;
      color: $light;
      float: left;
      text-decoration: none;
    }

    a::after {
      padding-left: 3px;
      content: '⋰';
    }
  }

  li:last-child {
    a::after {
      display: none;
    }
  }
}
