@import 'variables';

.column {
  width: 50%;
  padding-top: 20px;
  float: left;

  &:first-child {
    max-width: 560px;
    margin-right: 10px;
  }

  &:last-child {
    max-width: 686px;
  }
}

.button {
  display: inline-block;
  padding: 3px 17px;
  background: #019bc2;
  border-radius: 3px;
  box-shadow: 0 1px lighten(#019bc2, 5%);
  color: $light;
  cursor: pointer;
  user-select: none;
}

.info-view {
  height: 172px;
}

.info-table {
  width: 100%;
  margin: 20px auto;

  th,
  td {
    padding: 5px 0;
  }

  th {
    font-weight: normal;
    text-align: left;
  }

  td {
    font-size: 20px;
  }
}

.operation-view {
  height: 146px;
}

.operation-panel {
  position: relative;
  display: block;
  width: 100%;
  height: 59px;
  margin: 28px auto;
  text-align: center;
}

.operation-button {
  display: inline-block;
  width: 79px;
  height: 100%;
  margin: 0 36px;
  background: #f4f4f4;
  color: #666;
  cursor: pointer;
  user-select: none;
}

.operation-icon {
  display: block;
  margin: 5px auto 0;
}

.status-view {
  height: 806px;
}

.section-header {
  font-size: 1em;
  font-weight: 500;
}

.info {
  margin: 10px 0;
}

.location-view {
  position: relative;
  height: 328px;

  .map-container {
    display: block;
    width: 100%;
    height: 260px;
    margin-top: 11px;
  }
}

.customer-view {
  height: 806px;

  .info-field {
    padding-right: 10%;
  }
}
