@import 'scut';

// normalize vertical rhythm
$base-font-size: 14px;
$base-line-height: 20px;
$base-unit: 'em';
$base-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$normalize-vertical-rhythm: true;

$container-width: scut-em(1336px, $base-font-size);

// color palette
$primary: #263372;
$primary-light: #4c85c2;
$primary-lighter: #0caefd;
$primary-light-gray: #5e9abe;
$primary-lightest: #38f7fe;
$primary-dark: #003063;
$primary-darker: #092442;
$dark: #080309;
$light: #fff;
$emphasis: #f6c40a;

$body-background: linear-gradient($primary, $dark);
$header-background: $primary;
$widget-background: rgba(#121044, 0.6);

$header-color: #fff;

// layout
$site-header-height: 2 * $base-line-height;

$widget-header-margin-top: 10px;
$widget-header-height: $widget-header-margin-top + $base-line-height;

$block-map-height: 700px;
$block-customer-height: 188px;
$block-installation-height: 222px;
$block-installation-padding-top: 27px;
$block-service-height: 398px;
$block-service-padding-top: 30px;
$block-sales-height: 268px;
$block-sales-padding-top: 30px;

