@import 'scut';

// normalize vertical rhythm
$base-font-size: 14px;
$base-line-height: 20px;
$base-unit: 'em';
$base-font-family: (
  -apple-system,
  'Helvetica Neue',
  Helvetica,
  'Nimbus Sans L',
  Arial,
  'Liberation Sans',
  'PingFang SC',
  'Hiragino Sans GB',
  'Noto Sans CJK SC',
  'Source Han Sans CN',
  'Source Han Sans SC',
  'Microsoft YaHei',
  'Wenquanyi Micro Hei',
  'WenQuanYi Zen Hei',
  'ST Heiti',
  SimHei,
  'WenQuanYi Zen Hei Sharp',
  sans-serif
);
$normalize-vertical-rhythm: true;

// site layout
$container-width: scut-em(1336px, $base-font-size);
$site-header-height: 2 * $base-line-height;
$widget-header-margin-top: 10px;
$widget-header-height: $widget-header-margin-top + $base-line-height;

// site color palette
$primary: #263372;
$dark: #080309;
$light: #fff;
$active: #49b5c9;

$header-background: $primary;
$header-color: #fff;
$body-background: #fafafa;

// datatable palette
$table-header-background: #edf0f7;
$table-header-color: #2a2a2a;
$table-body-color: #333;
$table-active-color: $active;
$table-info-color: #999;
$table-pager-color: #666;
$table-pager-border-color: #c3c3c3;

// dashboard color palette
$dashboard-primary: $primary;
$dashboard-primary-light: #4c85c2;
$dashboard-primary-lighter: #0caefd;
$dashboard-primary-light-gray: #5e9abe;
$dashboard-primary-lightest: #38f7fe;
$dashboard-primary-dark: #003063;
$dashboard-primary-darker: #092442;
$dashboard-widget-background: rgba(#121044, 0.6);
$dashboard-emphasis: #f6c40a;

$dashboard-body-background: linear-gradient($primary, $dark);

// dashboard layout
$block-map-height: 700px;
$block-customer-height: 188px;
$block-installation-height: 222px;
$block-installation-padding-top: 27px;
$block-service-height: 398px;
$block-service-padding-top: 30px;
$block-sales-height: 268px;
$block-sales-padding-top: 30px;

