// Vendor
@import 'normalize';
@import 'scut';

// Setup
@import 'mixins';
@import 'variables';
@import 'fonts';
@import 'globals';
// Components
@import 'stepwizard';
@import 'datatables';
@import 'info';
@import 'modal';

body {
  background: $body-background;
}

.app {
  @include scut-clearfix;

  width: $container-width;
  min-height: 960px;
  margin-right: auto;
  margin-left: auto;
}

.header-bar {
  @include scut-absolute;

  width: 100%;
  height: $site-header-height;
  background-color: $header-background;
}

.site-header {
  @include scut-vcenter-ib(
    '*',
    '.menu-toggle > *',
    '.header-title > *',
    '.header-panel > *'
  );

  width: $container-width;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  background: url('../images/banner.png') center no-repeat;
  color: $header-color;

  .menu-toggle {
    width: 5%;
    margin-left: 2%;
  }

  .header-title {
    width: 20%;
  }

  .header-panel {
    width: 70%;
    text-align: right;

    a {
      margin-right: 10px;
    }
  }
}

.content {
  position: relative;
  padding: $site-header-height 40px 32px 40px;
}

.panel-control-bar {
  width: 100%;
  height: 80px;
  padding-top: 32px;
}

.panel-control {
  position: relative;
  z-index: 1;
  display: inline-block;

  select {
    width: 96px;
    -moz-appearance: none; // stylelint-disable-line property-no-vendor-prefix
    -webkit-appearance: none; // stylelint-disable-line property-no-vendor-prefix
  }

  &-item {
    display: block;
    height: 28px;
    padding-left: 10px;
    margin-left: 10px;
    background: #019bc2;
    border-radius: 3px;
    color: $light;
    float: left;
    outline: none;
  }
}

.block {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: $light;
}

.block-header {
  color: $dark;
  cursor: default;
  font-weight: 500;
  user-select: none;
}

.dashboard {
  background: $dashboard-body-background;

  .app {
    background: no-repeat url('../images/content-bg.jpg');
  }

  // Override global content padding
  // Dashboard page has a slightly different layout
  .content {
    padding: $site-header-height 0 0 0;
  }

  @import 'dashboard';
}

.device-list {
  @import 'device-list';
}

.device-detail {
  @import 'device-detail';
}

.ticket-detail {
  @import 'ticket-detail';
}

.ticket-list {
  @import 'ticket-list';
}

.customer-list {
  @import 'customer-list';
}

.customer-detail {
  @import 'customer-detail';
}
