// Vendor
@import 'lib/normalize';
@import 'lib/scut';
// Setup
@import 'mixins';
@import 'variables';
@import 'fonts';
@import 'globals';

html,
body {
  min-height: 960px;
}

body {
  background-color: $body-background;
  min-width: $container-width;
}

.app {
  @include scut-clearfix;
  background: no-repeat url('../images/content-bg.jpg');
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  width: $container-width;
}

.header-bar {
  @include scut-absolute;
  background-color: $header-background;
  height: $site-header-height;
  width: 100%;
}

.site-header {
  @include scut-vcenter-ib('*', '.menu-toggle > *', '.header-title > *', '.header-panel > *');
  background: url('../images/banner.png') center no-repeat;
  color: white;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: $container-width;

  .menu-toggle {
    margin-left: 2%;
    width: 5%;
  }

  .header-title {
    width: 20%;
  }

  .header-panel {
    text-align: right;
    width: 70%;

    a {
      margin-right: 10px;
    }
  }
}

.content {
  padding-top: $site-header-height;
  position: relative;
}

.column-1 {
  float: left;
  width: 50%;

  .widget {
    max-width: 660px;
  }
}

.column-2 {
  float: left;
  padding-left: 25px;
  width: 50%;

  .widget {
    max-width: 600px;
  }
}

.map-control {
  display: inline-block;
  margin: 15px 20px 5px;
  position: relative;
  z-index: 1;

  input,
  select {
    background: $primary;
    border: 1px solid $primary-light;
    border-radius: 3px;
    color: $primary-light;
    display: block;
    float: left;
    height: 25px;
    padding-left: 10px;

    &:focus {
      border-color: $primary-light;
      color: $primary-light;
      outline: none;
    }
  }

  input {
    margin-left: 10px;
    padding: 3px 0 3px 10px;

    &::placeholder {
      color: $primary-light;
    }
  }

  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 80px;
  }
}

.block-1 {
  height: 689px;
  padding-left: 20px;
}

.block-2 {
  height: 195px;
  padding-left: 20px;
}

.block-3 {
  height: 398px;
  padding-top: 30px;
}

.block-4 {
  height: 218px;
  padding-top: 30px;
}

.block-5 {
  height: 268px;
  padding-top: 30px;
}

.widget {
  @include corner-highlight-border(26px, 14px);
  height: 100%;
  position: relative;
  width: 100%;
}

.widget-header {
  color: lighten($primary-light, 10);
  cursor: default;
  margin-left: 10px;
  margin-top: 10px;
  user-select: none;
}

.map-container {
  border: dashed 1px $primary;
  height: 463px;
  margin-left: 40px;
  width: 545px;
}

.device-pie-container {
  border: dashed 1px $primary;
  height: 167px;
  width: 100%;
}