{% extends "_layout.njk" %}

{% set bodyClass = "customer-detail" %}

{% block title %}
  <title>客户信息</title>
{% endblock %}

{% block breadcumb %}
  <div>业务概况/客户/客户信息</div>
{% endblock %}

{% block content %}
  <div class="column">
    <div class="info-view block">
      <h4 class="block-header">基本信息</h4>
      <div class="info">
        <div class="info-field">
          <div class="info-field-name">姓名</div>
          <div class="info-field-value">某某某</div>
        </div>
        <div class="info-field">
          <div class="info-field-name">年龄</div>
          <div class="info-field-value">67</div>
        </div>
        <div class="info-field">
          <div class="info-field-name">联系方式</div>
          <div class="info-field-value">18612344321</div>
        </div>
        <div class="info-field">
          <div class="info-field-name">地址</div>
          <div class="info-field-value">北京市某某区某某街道某某小区某某楼某某某</div>
        </div>
      </div>
    </div>
    <div class="device-list-view block">
      <h4 class="block-header">设备列表</h4>
      <table class="device-list-table datatable">
        <thead>
        <tr>
          <th>设备编号</th>
          <th>型号</th>
          <th>安装时间</th>
          <th>使用状态</th>
        </tr>
        </thead>
      </table>
    </div>
  </div>
  <div class="column">
    <div class="ticket-view block">
      <h4 class="block-header">激活记录</h4>
      <table class="device-record-table datatable">
        <thead>
        <tr>
          <th>单号</th>
          <th>内容</th>
          <th>状态</th>
        </tr>
        </thead>
      </table>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
      /* global TahoeBI */
      domready(function () {
          new TahoeBI.CustomerDetailView(
              document.querySelector('.app')
          );
      });
  </script>
{% endblock %}
