{% extends "_layout.njk" %}

{% set bodyClass = "device-detail" %}

{% block title %}
  <title>设备详情</title>
{% endblock %}

{% block breadcumb %}
  <ul class="breadcrumb">
    <li><a href="#">业务概况</a></li>
    <li><a href="#">设备信息</a></li>
    <li><a href="#">设备详情</a></li>
  </ul>
{% endblock %}

{% block content %}
  <div class="column">
    <div class="block info-view">
      <h4 class="block-header">基本信息</h4>
      <table class="info-table">
        <thead>
        <tr>
          <th>设备名</th>
          <th>设备编号</th>
          <th>设备型号</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>ZS-J05G</td>
          <td>鹰潭电信001</td>
          <td>864811035477988</td>
        </tr>
        </tbody>
      </table>
      物理地址：<span>江西省鹰潭市月湖区交通路广场1号</span>
    </div>
    <div class="block operation-view">
      <h4 class="block-header">基本操作</h4>
      <div class="operation-panel">
        <a class="operation-button" data-operation="1">
          <i class="operation-icon icon-op-power"></i>
          关机
        </a>
        <a class="operation-button" data-operation="2">
          <i class="operation-icon icon-op-screen"></i>
          开机
        </a>
        <a class="operation-button" data-operation="3">
          <i class="operation-icon icon-op-wash"></i>
          冲洗
        </a>
      </div>
    </div>
    <div class="block status-view">
      <section class="device-overview">
        <h4 class="section-header">设备状态</h4>
        <div class="info">
          <div class="info-field">
            <div class="info-field-name">设备状态</div>
            <div class="info-field-value">正常</div>
          </div>
          <div class="info-field">
            <div class="info-field-name">工作状态</div>
            <div class="info-field-value">暂停</div>
          </div>
          <div class="info-field">
            <div class="info-field-name">故障码</div>
            <div class="info-field-value">0x33</div>
          </div>
        </div>
      </section>
      <section class="device-data">
        <h4 class="section-header">设备数据</h4>
        <div class="info">
          <div class="info-field">
            <div class="info-field-name">进水口TDS</div>
            <div class="info-field-value">520</div>
          </div>
          <div class="info-field">
            <div class="info-field-name">出水口TDS</div>
            <div class="info-field-value">4</div>
          </div>
          <div class="info-field">
            <div class="info-field-name">制水量</div>
            <div class="info-field-value">201</div>
          </div>
        </div>
        <div class="chart-container"></div>
      </section>
      <section class="filter-info">
        <div class="section-header">
          滤芯状态
          <a class="button">重置</a>
        </div>
        <div class="filter-bars">
          <div class="filter-bar">
            <span class="filter-name">滤芯1：</span>
            <div class="meter"><span style="width: 30%"></span></div>
            <span class="filter-value">30%</span>
            <label class="filter-check">
              <input type="checkbox" name="filter" value="1">
            </label>
          </div>
          <div class="filter-bar">
            <span class="filter-name">滤芯2：</span>
            <div class="meter"><span style="width: 50%"></span></div>
            <span class="filter-value">50%</span>
            <label class="filter-check">
              <input type="checkbox" name="filter" value="2">
            </label>
          </div>
          <div class="filter-bar">
            <span class="filter-name">滤芯3：</span>
            <div class="meter"><span style="width: 30%"></span></div>
            <span class="filter-value">30%</span>
            <label class="filter-check">
              <input type="checkbox" name="filter" value="3">
            </label>
          </div>
          <div class="filter-bar">
            <span class="filter-name">滤芯4：</span>
            <div class="meter"><span style="width: 40%"></span></div>
            <span class="filter-value">40%</span>
            <label class="filter-check">
              <input type="checkbox" name="filter" value="4">
            </label>
          </div>
          <div class="filter-bar">
            <span class="filter-name">滤芯5：</span>
            <div class="meter"><span style="width: 70%"></span></div>
            <span class="filter-value">70%</span>
            <label class="filter-check">
              <input type="checkbox" name="filter" value="5">
            </label>
          </div>
        </div>
      </section>
      <section class="payment-info">
        <div class="section-header">
          计费信息
          <a class="button">充值</a>
        </div>
        <div class="info">
          <div class="info-field">
            <div class="info-field-name">使用方式</div>
            <div class="info-field-value">按时租赁</div>
          </div>
          <div class="info-field">
            <div class="info-field-name">开始时间</div>
            <div class="info-field-value">2017-03-19</div>
          </div>
          <div class="info-field">
            <div class="info-field-name">到期时间</div>
            <div class="info-field-value">2018-05-24</div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="column">
    <div class="block location-view">
      <h4 class="block-header">设备经纬度</h4>
      <div class="map-container"></div>
    </div>
    <div class="block customer-view">
      <section class="customer-info">
        <h4 class="section-header">客户信息</h4>
        <div class="info">
          <div class="info-field">
            <div class="info-field-name">姓名</div>
            <div class="info-field-value">某某某</div>
          </div>
          <div class="info-field">
            <div class="info-field-name">地址</div>
            <div class="info-field-value">上海市某某区某某街道某某小区某某楼某某某</div>
          </div>
          <div class="info-field">
            <div class="info-field-name">公司</div>
            <div class="info-field-value">上海市某某有限餐饮管理股份有限公司</div>
          </div>
          <div class="info-field">
            <div class="info-field-name">手机</div>
            <div class="info-field-value">18612344321</div>
          </div>
          <div class="info-field">
            <div class="info-field-name">电话</div>
            <div class="info-field-value">021-52889898</div>
          </div>
        </div>
        <a class="button query-customer-button">查询用户信息</a>
      </section>
      <table class="datatable activation-table"></table>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script type="text/javascript"
          src="http://api.map.baidu.com/api?v=2.0&ak=oqxSiKOPPrrD9NBYFGE3PzGvSFGGklVF"></script>
  <script>
      /* global TahoeBI */
      function callAPI(url) {
          return fetch(url)
              .then((resp) => {
                  if (resp.status >= 200 && resp.status < 300) {
                      return Promise.resolve(resp);
                  }
                  return Promise.reject(new Error(resp.statusText));
              })
              .then((resp) => resp.json())
              .then((data) => {
                  if (parseInt(data.status) === 0) {
                      return Promise.resolve(data.message);
                  }
                  return Promise.reject(data.message);
              });
      }

      domready(function () {
          const deviceDetailView = new TahoeBI.DeviceDetailView(
              document.querySelector('.app'),
              {
                  'operationCallback': (operation) => {
                      return callAPI(`/mock/commands/${operation}`);
                  },
                  'resetFilterCallback': (values) => {
                      return Promise.all(
                          values.map((n) => callAPI(`/mock/reset/${n}`))
                      );
                  }
              }
          );
          deviceDetailView.updateMap(121.35887, 31.24198);
          deviceDetailView.updateActivationTable({
              headings: [
                  '激活码',
                  '激活时间',
                  '激活码类型',
              ],
              data: new Array(3).fill([
                  'AC-102873435',
                  '2017-10-18 12:38:24',
                  '30天流量卡',
              ])
          });
          deviceDetailView.updateTempChart(84, 22);
      });
  </script>
{% endblock %}
